<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>About:</strong>
  <%= @article.about %>
</p>

<p>
  <strong>User picture link:</strong>
  <%= @article.user_picture_link %>
</p>

<p>
  <strong>User name:</strong>
  <%= @article.user_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @article.country %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
